@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');


*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.nav-bar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.nav-user-avatar-cropper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border:solid;
    border-width:1px;
    border-color: gray;
}

.nav-user-avatar {
    width:40px;
    margin: 0 auto;

}

.article-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 60vw;

    @media only screen and (max-width: 500px) {
        .card-image {
            height:150px;
        }
        .card-title {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }
}
p {
    margin: 0px;
}