@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

*{
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0px;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);

}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100vw;
    margin-bottom: 20px;
    padding-top: 5px; 
    padding-bottom: 5px;
    font-weight: 600;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);

    .nav-link {
        color: rgb(255, 255, 255);
        font-weight: 500;
        text-decoration: none;
        border: solid;
        border-width: 1px;
        padding: 7px 10px 7px 10px;
        border-radius: 20px;
        background-color: rgb(84, 84, 84);



    }
    .nav-link:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }

    .nav-user-avatar-cropper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        border:solid;
        border-width:1px;
        border-color: gray;

        .nav-user-avatar {
            width:40px;
            margin: 0 auto;
        
        }
    }
}




.article-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 20px;


    .card-div {
        background:rgb(245, 245, 245);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

        .card {
            width: 70vw;
            max-width: 700px;
        }
    
        .card:hover {
            background:rgb(204, 204, 204);
        }
}

.article-list, .comment-list {
    @media only screen and (max-width: 500px) {
        .card-media {
            height:150px;
        }
        .card-title {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }
}

.comment-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 20px;

    h3 {
        margin:auto;
    }

    .card-div {
        background:rgb(245, 245, 245);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

        .card {
            width: 70vw;
            max-width: 700px;
            margin: 10px;
            display:flex;
            gap: 10px;
            
            .card-content {
                display: flex;
                flex-direction: column;
                width: 100%;

                .comment-body {
                    font-size: 15px;
                    color: black;
                    margin-bottom: 10px;
                }

                .comment-info-delete {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;

                    .comment-delete {
                        margin: 0px;
                    }

                }
            }

        }

    @media only screen and (max-width: 500px) {
        .comment-delete {
            font-size: 10px;
        }
    }
}

.comment-adder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    width: 700px;
    max-width: 80vw;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px; 
    @media only screen and (max-width: 500px) {
        #outlined-multiline-static {
            font-size: 13px;
        }
        .comment-add-button  {
            font-size: 13px;
            padding: 0px;
        }
    }

}

.article {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 30px;
    gap: 40px;
    margin: auto;
    margin-top: 20px;
    width: 700px;
    max-width: 80vw;
    
    .article-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .article-author-date-comment-votes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .article-author-date {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
        .article-comment-votes{
            display: flex;
            flex-direction: row;
            gap: 5px;

            .voted {
                color: rgb(0, 0, 255);
            }
        }
    }



    .article-body {
        border-top: solid 1px rgb(203, 203, 203);
        letter-spacing: 0.4px;
        line-height: 1.3;
        border-bottom: solid 1px rgb(203, 203, 203);
        padding-top: 35px !important;
        padding-bottom: 35px !important;

    }

    
    @media only screen and (min-width: 501px) {
        h2 {
            font-size: 34px;
        }
        p {
            font-size: 18px;
        }
        .article-body {
            padding: 10px;
            letter-spacing: 0.4px;
            line-height: 1.3;
        }
    }        
    
    @media only screen and (max-width: 500px) {
        h2{
            font-size:24px;
        }
        p {
            font-size: 14px;
        }

        .article-body {
            letter-spacing: 0.4px;
            line-height: 1.3;
        }
    }
    
}

